body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 6px;
    margin-bottom: 16px;
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #333;
    cursor: pointer;
}

.cell.blue {background: blue;}
.cell.teal {background: teal;}
.cell.green {background: green;}
.cell.yellow {background: yellow;}
.cell.orange {background: orange;}
.cell.unknown {background: lightslategray;}
.cell.highlight-red {
  outline: 9px solid red;
}
.cell.highlight-red.dashed {
  outline: 9px dashed red;
}


.best {outline: 2px solid lawngreen;}
.good {outline: 2px solid orange;}